html
{
    height: 100%;
    width: 100%;
    box-sizing:border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container{
    display: flex;
    border: 10px solid rgb(0, 87, 102);
    background-color: rgb(0, 87, 102);
    border-radius: 5%;
    padding: 25px;
}

.calculator{
    display: flex;
    flex-direction: column;;
    border: 2px solid black;
    padding: 55px;
    height: 100%;
    width: 100%;
}

.previousDisplay,
.currentDisplay{
    text-align: center;
    min-height: 30px;
    min-width: 100%;
    border: 2px solid black;
    background-color: whitesmoke;
}
.previousDisplay{
    border-bottom: none;
}
.currentDisplay{
    border-top: none;
}

.buttDiv{
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 10px;
}
.numButtons,
.opButtons,
.equalButton{
    border-radius: 40%;
    font-size:larger;
}
.clearButton {
    border-radius: 20%;
    margin-top: 10px;
}
.opButtons,
.equalButton{
    background-color: rgb(156, 156, 3);
}

.numButtons{
    background-color:rgb(50, 50, 241);
}